# build objects
build
zconf.h
zconf.h.included
*.o
*.os
*.so
*.dylib
.import/
*.dblite
*.dll
*.exp
*.lib
*.obj
*.TMP
# logs
logs
# possible thumbnails
Thumbs.db
# binaries
demo/bin/x11/*
demo/bin/windows/*
demo/bin/win64/*
demo/bin/win32/*
demo/bin/osx/*
# temp
tmp/*
# project files
nbproject/*
.idea
# NIX
## result from `nix build`
result
## result of `nix develop`
source
